@media(max-width:600px){
    aside .icon{
        text-align: center;
        margin: 20px;
        padding-left: 10px;
    }
    .gnav li{
        margin-left: 10px;

    }
    .gnav ul{
        display: block;
    }
    .gnav{
        width: 100%;
        margin-left: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top:-100%;
        transition: .5s;
    }
    .gnav.active{
        top:320px;
        
    }
    .gnav a{
        border-bottom: 1px solid #ffffff;
        text-align: left;
    }
    .toggle{
        position: fixed;
        right: 10px;
        top:10px;
        width: 42px;
        height: 42px;
        

    }
    .toggle span{
        display: block;
        position: absolute;
        width: 30px;
        border-bottom: solid 3px #ffffff;
        transition: .3s ease-in-out;
        left: 6px;
    }
    .toggle span:nth-child(1){
        top:9px
    }
    .toggle span:nth-child(2){
        top:18px
    }
    .toggle span:nth-child(3){
        top:27px
    }
    .toggle.active span:nth-child(1){
        top:18px;
        left: 6px;
        transform: rotate(-45deg);
    }
    .toggle.active span:nth-child(2),.toggle.active span:nth-child(3){
        top:18px;
        transform: rotate(45deg);
    }
    #main{
        margin-top: 0%;
        padding-top: 0%;
    }
    .sec-title{
        font-size: 70px;
    }
    ul li{
        flex-direction: column;
        width: 100%;
    }
    ul li:nth-child(odd){
        flex-direction: column;
      }
    
    .txt{
        font-size: 1rem;
        margin-top: 30px;
        width: 70%;
    }
    .photo{
        width: 90%;
        padding: 20px;
    }
}
